<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active" *ngFor="let slide of slides; let isFirst = first" [class.active]="isFirst">
                <!-- <img class="w-100 v-100" src="{{ slide.imagen }}" class="d-block w-100" alt="{{ slide.titulo }}"> -->
                <div class="w-100 v-100 imagesBannerPrincipal" [style.background-image]="'url('+ slide.imagen +')'"></div>

                <!-- <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12"> -->
                <div class="container-fluid">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">

                            <div class="d-none d-md-block carousel-caption text-center text-md-left text-dark py-0 w-100 mb-6" style="left: 0">
                                <span class="">{{ slide.categoria }}</span>
                                <h2 class="font-weight-light">{{ slide.titulo }}</h2>
                                <button class="btn btn-outline-primary px-3 py-2">{{ slide.button }}</button>
                            </div>

                            <div class="d-block d-md-none carousel-caption text-center text-md-left text-dark py-0 w-100 px-4 mb-3" style="left: 0">
                                <span class="">{{ slide.categoria }}</span>
                                <h4 class="font-weight-light">{{ slide.titulo }}</h4>
                                <button class="btn btn-outline-primary">{{ slide.button }}</button>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- </div>
                    </div>
                </div> -->

            </div>
        </div>

        <!-- <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> -->
    </div>
</div>


<!-- <div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10">
            <div class="text-center d-md-flex justify-content-md-between my-5 my-lg-6">
                <h4 class="font-weight-light op-75 d-flex align-items-center">Contruyendo marcas sólidas que trascienden en el tiempo</h4>
                <button (click)="openRequerimientoModal()" class="btn btn-primary py-2 px-4 ">Cuéntanos tu proyecto</button>
            </div>
            <div class="row no-gutters ">
                <div class="col-6 col-sm-4 col-md-4 col-lg-4 " *ngFor="let proyecto of proyectos | async | slice: 0:9 " style="position: relative; ">
                    <img src="{{ proyecto.imgMiniatura }} " alt="{{ proyecto.nombre }} " width=100%>
                    <div class="mt-2 mb-2 ">
                        <h5 class="font-weight-bolder text-dark pb-0 mb-0 ">{{ proyecto.nombre }}</h5>
                        <span class="font-weight-light text-muted small d-sm-inline-block mr-1 " *ngFor="let categoria of proyecto.categorias; let isLast=last ">{{categoria}} {{isLast ? '' : ' /  '}}</span>
                    </div>
                    <a [routerLink]="[ '/portafolio', proyecto.id] " class="stretched-link "></a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10">
            <div class="text-center d-md-flex justify-content-md-between my-5 my-lg-6">
                <h4 class="font-weight-light op-75 d-flex align-items-center">Contruyendo marcas sólidas que trascienden en el tiempo</h4>
                <button (click)="openRequerimientoModal()" class="btn btn-primary py-2 px-4 ">Cuéntanos tu proyecto</button>
            </div>
            <div class="">
                <div class="grid" *ngFor="let proyecto of proyectos | async | slice: 0:9 " style="position: relative; ">
                    <!-- <img src="{{ proyecto.imgMiniatura }} " alt="{{ proyecto.nombre }} " width=100%>
                    <a [routerLink]="[ '/portafolio', proyecto.id] " class="stretched-link "></a> -->
                    <figure class="effect-lily">
                        <img src="{{ proyecto.imgMiniatura }} " alt="{{ proyecto.nombre }}">
                        <figcaption>
                            <div>
                                <h2>{{proyecto.nombre}}</h2>
                                <!-- <p>Lily likes to play with crayons and pencils</p> -->
                                <p class="font-weight-light text-white small d-sm-inline-block mr-1 " *ngFor="let categoria of proyecto.categorias; let isLast=last ">{{categoria}} {{isLast ? '' : ' / '}}</p>
                            </div>
                            <!-- <a [routerLink]="[ '/portafolio', proyecto.id] " class="stretched-link "></a> -->
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
<div class="d-inline-block">
    <div class="grid">
        <figure class="effect-lily">
            <img src="assets/images/imgDesarrolloMarca.jpg" alt="img12" />
            <figcaption>
                <div>
                    <h2>Nice <span>Lily</span></h2>
                    <p>Lily likes to play with crayons and pencils</p>
                </div>
                <a href="#">View more</a>
            </figcaption>
        </figure>
    </div>
</div> -->