<div class="container-fluid bg-light mt-8">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10 d-flex justify-content-between my-7">
            <div>
                <h3>Conversemos</h3>
                <a class="lead" href="mailto:hola@khapac.com">hola@khapac.com</a>
                <span class="d-block mt-4">Lima: Lenin Gutiérrez (511) 987 495 769 </span>
                <span class="d-block">Cusco: Pastor Zevallos (511) 999 905 016 </span>
                <p class="small text-muted mt-5">Khapac 2019. Todos los derechos reservados.</p>
            </div>
            <div>
                Logo Behance
            </div>
        </div>
    </div>
</div>