<div class="mb-7">

    <div class="row no-gutters justify-content-center">
        <div class="col-lg-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb py-0 bg-white small font-weight-light">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">inicio</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/portafolio']">portafolio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">La Previsora</li>
                </ol>
            </nav>

        </div>
    </div>

    <div>
        <img src="assets/images/proyectos/laPrevisora/destacado.jpg" alt="La Previsora" width="100%">
    </div>

    <div class=" container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10">

                <div class="row no-gutters p-3 p-sm-4 p-lg-6 d-flex justify-content-between text-white boxProyecto" style="background-color: #7572C1;">
                    <div class="col-12">
                        <h2 class="font-weight-bold mb-3">La Previsora</h2>
                    </div>
                    <div class="col-md-7">
                        <h4 class="font-weight-light mb-3">Estamos antes, ahora y siempre que nos necesites.</h4>
                        <p class="font-weight-light">Si hay algo que mejor define a La Previsora es su calidad en el servicio de seguros; sumado a su amplia experiencia, con 20 años en el negocio de seguros, obtenemos como resultado uno de los mejores corredores de seguros del país.</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Branding e identidad de marca</h5>
                        <ul>
                            <li>Desarrollo de identidad gráfica</li>
                            <li>Piezas de comunicación</li>
                            <li>Desarrollo web</li>
                        </ul>
                        <!-- <button class="btn btn-lg btn-outline-light py-2 px-5">Cuéntanos tu proyecto</button> -->
                        <button class="botonProyectos">cuéntanos tu proyecto</button>
                    </div>
                </div>

                <div class="row myGutters">
                    <div class="col-md-12">
                        <img src="assets/images/proyectos/laPrevisora/logoPrevisora.jpg" width="100%">
                    </div>
                </div>

                <div class="row myGutters">
                    <div class="col-md-8">
                        <img src="assets/images/proyectos/laPrevisora/logoConstruccion.jpg" width="100%">
                    </div>
                    <div class="col-md-4 d-flex align-items-stretch">
                        <div class="p-5 lead text-white " style="background-color: #44C2B1;">
                            <p>Trazamos el camino y pusimos en marcha el rediseño de la marca, el cual apoya la promesa de valor que busca brindarle al cliente un servicio más cercano, conociendo y descubriendo sus necesidades de protección.</p>
                        </div>
                    </div>
                </div>

                <div class="row myGutters">
                    <div class="col-md-6">
                        <img src="assets/images/proyectos/laPrevisora/paletaColores.jpg" width="100%">
                    </div>
                    <div class="col-md-6">
                        <img src="assets/images/proyectos/laPrevisora/papeleria.jpg" width="100%">
                    </div>
                </div>

                <div class="row myGutters">
                    <div class="col-md-4">
                        <img src="assets/images/proyectos/laPrevisora/aplicacion1.jpg" width="100%">
                    </div>
                    <div class="col-md-8">
                        <img src="assets/images/proyectos/laPrevisora/aplicacion2.jpg" width="100%">
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>