<div>
    <div class="imgBannerContacto d-flex align-items-end pb-2">
        <h3 class="font-weight-bold text-center w-100">Conversémos</h3>
    </div>
    <div class="col-md-7 mx-auto text-center">
        <p class="font-weight-light h4 my-5">
            En Khapac desarrollamos la estrategia necesaria para conectar con tus audiencias, construir experiencias y generar valor para tu marca.
        </p>
        <p class="lead font-weight-light px-lg-7">
            ¿Tienes un proyecto en mente? <br> Escríbenos a
            <a href="mailto:hola@khapac.com">hola@khapac.com</a> o llámanos: Lima: (51) 987495769 / Cusco: (51) 999905016
        </p>
        <div>
            <button (click)="openRequerimientoModal()" class="btn btn-primary py-2 px-4 ">Escríbenos</button>
        </div>
    </div>
    <div class="col-md-10 mx-auto">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
</div>