<mat-sidenav-container class="">

    <mat-sidenav #drawer mode="over" position="end">
        <div>
            <div class="px-3 pt-3">
                <h5 class="mb-0">Bienvenido</h5>
                <!-- <span class="font-weight-light op-50">Ingresa y crea tu evento.</span> -->
            </div>
            <hr>
            <mat-nav-list>
                <a mat-list-item (click)="selected()" routerLinkActive="active-list-item" [routerLink]="link.url" *ngFor="let link of links" [routerLinkActiveOptions]="{ exact: true }">
                {{ link.nombre }}
              </a>
            </mat-nav-list>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="row d-flex justify-content-center no-gutters">
            <div class="col-lg-10">
                <nav class="navbar navbar-expand-md navbar-light bg-white py-0" [ngClass]="getRoute()">
                    <a class="my-3" [routerLink]="['/']">
                        <img src="assets/images/logoKhapac.svg" width="180px" alt="Khapac">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mx-2" *ngFor="let link of links" style="font-size: 18px;">
                                <a class="nav-link px-1 py-4" [routerLink]="link.url" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{ link.nombre }}</a>
                                <div *ngIf="getRouteActive(link.url)" class="bg-primary rounded-top" style="height: 4px;"></div>
                                <div *ngIf="!getRouteActive(link.url)" style="height: 4px;"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="d-md-none">
                        <button mat-icon-button color="primary" (click)="drawer.toggle()">
                          <!-- <mat-icon>menu</mat-icon> -->
                          <img src="assets/images/iconMenu.svg" alt="menú">
                        </button>
                    </div>
                </nav>
            </div>
        </div>

        <router-outlet></router-outlet>


        <app-footer></app-footer>
    </mat-sidenav-content>

</mat-sidenav-container>