<div>
    <div class="col-md-10 mx-auto py-4 py-md-5">


        <div class="text-center col-md-7 mx-auto mb-4 mb-md-5">
            <p class="h2 font-weight-light">Nuestro Enfoque</p>
            <p class="lead font-weight-light">Creemos en los procesos y metodologías que permitan optimizar los procesos, alineados a cumplir los objetivos de cada proyecto.</p>
        </div>


        <!-- <div class="boxEnfoque d-flex align-items-end">
            <div class="text-center text-white boxTextEnfoque mt-auto w-100 px-md-8 px-lg-9 p-3 py-md-4">
                <h2>Nuestro enfoque</h2>
                <p class="lead font-weight-light">Creemos en los procesos y metodologías que permitan optimizar los procesos, alineados a cumplir los objetivos de cada proyecto.</p>
            </div>
        </div> -->

        <div class="mt-4 mt-md-6">
            <div *ngFor="let enfoque of enfoques">
                <div class="row d-flex justify-content-between">
                    <div class="col-md-6">
                        <h2 class="font-weight-bold">{{enfoque.titulo}}</h2>
                        <h4 class="font-weight-light text-muted mb-4">{{enfoque.subTitulo}}</h4>
                        <p class="">{{enfoque.descripcion}}</p>
                    </div>
                    <div class="col-md-5">
                        <img src="{{enfoque.image}}" width="100%" alt="{{enfoque.titulo}}">
                    </div>
                </div>
                <div class="text-center my-5">
                    <img src="assets/images/iconFlechaBoldBottom.svg" alt="iconFlechaKhapac" width="48px">
                </div>
            </div>
        </div>

        <hr class="my-5">
        <h4 class="text-uppercase text-center text-muted" style="letter-spacing: 1rem;">Sobre nosotros</h4>
        <div class="col-md-9 mx-auto mt-5">
            <div class="row">
                <div class="col-md-4 py-3">
                    <img src="assets/images/logoKhapac.svg" alt="logoKhapac">
                </div>
                <div class="col-md-8">
                    <p class="lead text-muted">Nuestro nombre proviene del vocablo quechua “cápac” o “qhapaq” que significa poderoso y se utiliza para distinguir o resaltar el nombre de alguien poderoso sobre los demás. Y esto es lo que queremos lograr con las marcas, queremos
                        construir marcas que sobresalgan y se conviertan en marcas poderosas, en marcas Khapac.</p>
                </div>
            </div>
        </div>


    </div>
</div>