$font-family-base: "nerislight";
//colors
$primary:#E81E44;
$secondary: #F86600;
$success: #29D76F;
$info:#1EE8E8;
$warning: #E8D41E;
$danger:#d9453d;
$light: #F6F6F6;
$dark: #545454;
$white: #fafafa;
// Espacios
$spacer: 1rem;
$spacers: ( 0: 0, 1: ($spacer * .25), 2: ($spacer * .75), 3: ($spacer * 1.3), 4: ($spacer * 2), 5: ($spacer * 3), 6: ($spacer * 5), 7: ($spacer * 7), 8: ($spacer * 10), 9: ($spacer * 14), 10: ($spacer * 20));
//Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
//Angular Material
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//Cambiar tipografía Angular Material
@import '~@angular/material/theming';
$custom-typography: mat-typography-config( $font-family: 'nerislight');
@include mat-core($custom-typography);
body,
html {
    // font-size: 16px;
    color: $dark !important;
    // letter-spacing: -0.015rem;
}

.mat-drawer-container {
    color: $dark !important;
}

// Material icons
.material-icons,
.material-icons-outlined,
.material-icons-two-tone,
.material-icons-round,
.material-icons-sharp {
    vertical-align: middle;
    margin-top: -0.18rem;
}

.active-list-item {
    color: $primary !important;
    /* Note: You could also use a custom theme */
}

.font-weight-bold {
    font-family: 'nerissemibold';
    // letter-spacing: 0.075rem;
}

.font-weight-normal {
    font-family: 'nerislight';
    // letter-spacing: 0.075rem;
}

.font-weight-light {
    font-family: 'neristhin';
    // letter-spacing: 0.075rem;
}

.op-75 {
    opacity: 0.75;
}

.op-50 {
    opacity: 0.5;
}

.op-25 {
    opacity: 0.25;
}

// Small Gutters
.row.small-gutters {
    margin-right: -0px;
    margin-left: -0px;
    @include media-breakpoint-only(xs) {
        margin-right: -8px;
        margin-left: -8px;
    }
}

.row.small-gutters>[class^="col-"],
.row.small-gutters>[class*=" col-"] {
    padding: 8px;
    @include media-breakpoint-only(xs) {
        padding: 6px;
    }
}

.list-comma::before {
    content: ',';
}

.list-comma:first-child::before {
    content: '';
}

// .mbGutters {
//     margin-bottom: 15px;
// }
// .myGutters {
//     margin-right: -8px;
//     margin-left: -8px;
//     >.col,
//     >[class*="col-"] {
//         padding-right: 8px;
//         padding-left: 8px;
//     }
// }
.myGutters {
    margin-right: -8px;
    margin-left: -8px;
    // margin-top: 8px;
    // margin-bottom: 8px;
    >.col,
    >[class*="col-"] {
        padding: 8px;
    }
}

.boxProyecto {
    margin-top: -100px;
    margin-bottom: 8px;
    position: relative;
    z-index: 1000;
    @include media-breakpoint-only(xs) {
        margin-top: -20px;
    }
}

.botonProyectos {
    border: 1px $white solid;
    background: none;
    color: $white;
    border-radius: 6px;
    font-family: 'nerissemibold';
    padding: 16px 38px 20px 38px;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    @include media-breakpoint-only(xs) {
        width: 100%;
        font-size: 1.1rem;
    }
}

.botonProyectos:hover {
    background-color: $white;
    color: $dark;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 0px 8px;
    border-radius: 100%;
    background-color: $primary;
}

.navbarFloat {
    position: absolute;
    // top: 10px;
    z-index: 999;
    background: none !important;
    width: 100%;
}

// .carousel-caption {
//     width: 100%;
//     left: 0;
//     margin-bottom: 80px;
// }
.imgCover {
    background-size: cover;
    background-position: center center;
    height: 400px;
    @include media-breakpoint-only(xs) {
        height: 320px;
    }
}

.coverPrincipal {
    background-size: cover;
    background-position: center center;
    height: 540px;
    @include media-breakpoint-only(xs) {
        height: 280px;
    }
}

*:focus {
    outline: 0px !important;
    box-shadow: none !important;
}

.imagesBannerPrincipal {
    background-size: cover;
    background-position: center center;
    height: 640px;
    @include media-breakpoint-only(xs) {
        height: 400px;
    }
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: -10px 8px;
    border-radius: 100%;
    background-color: $primary;
    @include media-breakpoint-only(xs) {
        width: 10px;
        height: 10px;
        margin-bottom: -15px;
    }
}

.boxEnfoque {
    height: 455px;
    background-color: #E8D41E;
    background-image: url('assets/images/imgEnfoque.jpg');
    background-position: center center;
    background-size: cover;
}

.boxTextEnfoque {
    // background-color: #9F9535;
    background: rgba(159, 149, 53, 0.9);
}

.elementos {
    columns: 2;
    @include media-breakpoint-only(xs) {
        columns: 1;
    }
}

.elementos li {
    margin: 0 0 0 -38px;
    padding: 0px 0 10px 36px;
    list-style: none;
    background-image: url('./assets/images/iconArrowRight.svg');
    background-repeat: no-repeat;
    background-position: left 4px;
    background-size: 14px;
}

.imgServicio {
    height: 300px;
    background-position: center center;
    background-size: cover;
    @include media-breakpoint-only(xs) {
        height: 180px;
    }
}

.imgBannerContacto {
    height: 280px;
    background-image: url('assets/images/imageServicio.jpg');
    background-position: center center;
    background-size: cover;
}

.mat-form-field-outline-start,
.mat-form-field-outline-end {
    border-radius: 0 !important;
}

.btn {
    border-radius: 0 !important;
}


/*---------------*/


/***** hoverAnimation *****/


/*---------------*/

.grid {
    position: relative;
    margin: 0 auto;
    // padding: 1em 0 14em;
    // max-width: 1000px;
    list-style: none;
    text-align: left;
}


/* Common style */

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    background: $white;
    text-align: center;
    cursor: pointer;
    @include media-breakpoint-only(xs) {
        max-width: 50%;
    }
    @include media-breakpoint-only(sm) {
        max-width: 50%;
    }
    @include media-breakpoint-only(md) {
        width: 33.333%;
    }
    @include media-breakpoint-only(lg) {
        width: 33.333%;
    }
    @include media-breakpoint-only(xl) {
        width: 33.333%;
    }
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    // text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}


/* Individual effects */


/*---------------*/


/***** Lily *****/


/*---------------*/

figure.effect-lily img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

figure.effect-lily figcaption {
    text-align: left;
}

figure.effect-lily figcaption>div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0em 0em 0em 2em;
    width: 100%;
    height: 30%;
}

figure.effect-lily h2,
figure.effect-lily p {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
}

figure.effect-lily h2 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-lily p {
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
    opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-lily:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}


/*---------------*/


/***** Ruby *****/


/*---------------*/

figure.effect-ruby {
    background-color: #17819c;
}

figure.effect-ruby img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

figure.effect-ruby:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-ruby h2 {
    margin-top: 20%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-ruby p {
    margin: 1em 0 0;
    padding: 3em;
    border: 1px solid #fff;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
    transform: translate3d(0, 20px, 0) scale(1.1);
}

figure.effect-ruby:hover h2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-ruby:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}